<div class="pt-2 pb-5 bg-black">
    <div class="container">
        <div class="mt-3 d-flex justify-content-center">
            <div class="mx-3">
                <a (click)="curtir()" class="botao-likes me-3 font-press-start font-p text-decoration-none fw-normal bg-danger badge">
                    Curtir <i class="fw-bold bi bi-heart"></i>
                </a>
                <span class="text-white font-press-start">{{numeroDeLikes}}</span>
            </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <div class="col-10 col-sm-8 col-md-6">
                <div class="post-image"
                [ngStyle]="{'background-image': 'url('+'https://portifolio-developer.herokuapp.com/img/projetos/' + projeto.imagem.id + ')'}">
                </div>
                <h3 class="text-center text-press-start pt-5 font-press-start">{{projeto.nome}}</h3>
                <div class="d-flex justify-content-center">
                    <a class="text-dark fw-normal press-background badge fs-6 text-decoration-none" target="_blank"
                        [href]="projeto.url">Acessar <i class="fw-bold bi bi-box-arrow-up-right"></i>
                    </a>
                </div>
                <p class="mt-5 text-white fw-light font-montserrat fs-5">{{projeto.descricao}}</p>
                <div class="mt-3">
                    <span class="me-1 text-press-start2 font-pp font-press-start">Desenvolvedores: </span>
                    <div class="row">
                        <a *ngFor="let participante of projeto.participante" [href]="participante.linkGithub" class="col-2 col-sm-1" target="_blank">
                            <img [src]="participante.imagemGithub" alt="Bootstrap" width="52" height="52" class="rounded-circle border border-white">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>